

<div class="item-list-main">
    <div class="category-sec" id="itemsection__189543" >
        <h2 class="category-title" style="text-align: center;" ><span>Clothes</span></h2>
        <div class="category-sec" id="itemsection__636151" *ngFor="let pro of productData" >
            <ul class="grid-container align-content-center">
                <li class="foodmenu grid-item bg-white z-depth-1 d-flex IT_9455154" (click)="goTo(pro)">
                    <div class="img-wrap">
                         <img src= "{{pro?.picUrl}}">
                        </div>
                        <div class="content-detail-wrap">
                        <div class="d-flex justify-content-between">
                            <h4 class="veg order-1">{{pro?.name}}</h4>                           
                        </div>
                        <div class="menu-item-text-wrap">
                            <p class="menu-item-text mb-0">{{pro?.category}}</p>
                          </div>
                          <div class="d-flex menu-item-price-wrap justify-content-between mt-auto">
                              <div class="foodpric-text order-1">
                                <span class="foodpric display-block">{{ pro?.price | currency:'CAD':'symbol' }}</span>
                            </div>
                            <div class="menu-item-btn-wrap order-2 menu-item-btn-error"><span
                                    style="font-size:11px; font-style:italic; color:#4f4f4f;">Size: {{pro?.size}}</span></div>
                                </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ul>
            
            <hr class="my-4 seperator-hr">
        </div>       
        
    </div>
    
</div>
    